:root {
    --debug-baseline: 1.5rem;
    --debug-baseline-color: rgba(56,178,172,.25);
    --debug-color: rgba(112,36,89,.1);
    --debug-col-gutter: theme('spacing.8');
    --debug-col-width: theme('width.1/4');
    --debug-max-width: theme('screens.hd');
    --debug-offset: theme('spacing.8');
    --debug-z-index: 10000;
    @screen sm {
        --debug-offset: theme('spacing.24');
    }
    @screen md {
        --debug-col-width: theme('width.1/8');
        --debug-offset: theme('spacing.16');
    }
    @screen lg {
        --debug-col-width: theme('width.1/12');
    }
}

.debug::before {
    @apply .fixed;
    @apply .font-mono;
    @apply .leading-none;
    @apply .left-0;
    @apply .p-1;
    @apply .pointer-events-none;
    @apply .text-white;
    @apply .text-xs;
    @apply .top-0;
    @apply .uppercase;
    background-color: rgba(0,0,0,.75);
    content: 'base';
    z-index: var(--debug-z-index);
    @screen xs {
        content: 'xs';
    }
    @screen sm {
        content: 'sm';
    }
    @screen md {
        content: 'md';
    }
    @screen lg {
        content: 'lg';
    }
    @screen xl {
        content: 'xl';
    }
    @screen hd {
        content: 'hd';
    }
}
.debug::after {
    @apply .fixed;
    @apply .top-0;
    @apply .block;
    @apply .h-screen;
    @apply .mx-auto;
    @apply .pointer-events-none;
    @apply .w-screen;
    background: repeating-linear-gradient(
        to right,
        transparent,
        transparent calc(var(--debug-col-gutter) / 2),
        var(--debug-color) calc(var(--debug-col-gutter) / 2),
        var(--debug-color) calc(var(--debug-col-width) - (var(--debug-col-gutter) / 2)),
        transparent calc(var(--debug-col-width) - (var(--debug-col-gutter) / 2)),
        transparent var(--debug-col-width)
    );
    content: '';
    left: 50%;
    max-width: calc(var(--debug-max-width) + (var(--debug-offset) / 2));
    transform: translateX(-50%);
    width: calc(100% - var(--debug-offset));
    z-index: var(--debug-z-index);
}
.debug .debug-baseline {
    @apply .relative;
}
.debug .debug-baseline::before {
    @apply .absolute;
    @apply .block;
    @apply .h-full;
    @apply .left-0;
    @apply .pointer-events-none;
    @apply .top-0;
    @apply .w-full;
    background: repeating-linear-gradient(
        to bottom,
        var(--debug-baseline-color),
        var(--debug-baseline-color) 1px,
        transparent 1px,
        transparent var(--debug-baseline)
    );
    content: '';
    z-index: var(--debug-z-index);
}
// .debug .container,
// .debug .row,
// .debug .col {
//     @apply .relative;
// }
// .debug .container::before,
// .debug .row::before,
// .debug .col::before {
//     @apply .absolute;
//     @apply .block;
//     @apply .h-full;
//     @apply .left-0;
//     @apply .mx-auto;
//     @apply .pointer-events-none;
//     @apply .top-0;
//     background-color: var(--debug-color);
//     content: '';
//     z-index: var(--debug-z-index);
// }
// .debug .container::before {
//     @apply .w-full;
// }
// .debug .row::before,
// .debug .col::before {
//     width: calc(100% - var(--debug-col-gutter));
// }

